@import url(https://drive.google.com/drive/folders/1OmeYX7exSvHodiOUkZC9uozGBFr2XiEc?usp=share_link);

* {
    font-family: Determination Sans Web;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(rgba(65,138,227), black);
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 3px black;
}

.home {
   left: 97%;
   top: 5%;
   text-decoration: none;
   scale: 2;
   color: white;
   position: absolute;
   opacity: 1;
   z-index: 1;
   text-shadow: 0px 0px 3px black;
}
.home a {
   color: white;
   position: top left;
   opacity: 1;
   text-decoration: none;
}

 .container {
   margin: 0;
    display: flex;
    width: 90vw;
    opacity: 1;
 }

 .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin: 10px;
    flex: 1;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    transition: all 1s ease-in;
 }

 .panel.active {
    flex: 10;

 }
 .panel.active h3 {
    opacity: 1;
    transition: opacity .5s ease-in .5;
 }
 .panel h3 {
    color: #fff;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;

 }
 @media (max-width: 480px) {
   .container {
      width: 100vw;
   }

   .panel:nth-of-type(3),
   .panel:nth-of-type(3) {
      display: none;
   }
 }