@import url(https://drive.google.com/drive/folders/1OmeYX7exSvHodiOUkZC9uozGBFr2XiEc?usp=share_link);

* {
    font-family: Determination Sans Web;
}
body {

    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    text-shadow: 0px 0px 3px black;
    box-shadow: 0px 0px 5px black;
}
.home {
    left: 97%;
    top: 5%;
    text-decoration: none;
    scale: 2;
    color: white;
    position: absolute;
    opacity: 1;
    z-index: 1;
    text-shadow: 0px 0px 3px black;
 }
 .home a {
    color: white;
    position: top left;
    opacity: 1;
    text-decoration: none;
 }
.bg {
    background: url('https://i.ytimg.com/vi/u9BOvW2rDlI/maxresdefault.jpg')
    no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    filter: blur(30px);
    z-index: -1;
    position: absolute;
}
.loading-text {
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 5px black;
}